@import "banner.css";
@import "buttons.css";
@import "cards.css";
@import	"footer.css";

body{
	margin: 0;
	background-color: white;
	font-family: sans-serif;
}

a{
	text-decoration: none;
}

.container {
	width: 90%;
	margin: 24px auto;
}
